@charset "utf-8";
/* Web Standardization Team, Author:JongWoon,LEE 2018.02.21 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;word-wrap:break-word}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
html{overflow-y:scroll;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
label,input,button,a,span{line-height:1.25em}
html,body,button{font-size:1em;line-height:1.25em;font-family:"Open Sans","Noto Sans KR","Nanum Square","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;color:#626262}
hr{display:none;height:0;-moz-box-sizing:content-box;box-sizing:content-box}
em,address{font-style:normal}
acronym,abbr{cursor:help}
abbr[title]{border-bottom:1px dotted}
ul,ol{list-style:none;list-style-image:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
label,select,input,button{vertical-align:middle}
button{border:0;cursor:pointer}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:baseline;*vertical-align:middle}
button,input{*overflow:visible;line-height:normal}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default}
button,html input[type="button"],input[type="reset"],input[type="submit"]{*overflow:visible;cursor:pointer;-webkit-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box}
select{margin:0;padding:0;border:1px solid #cdd2d7;box-sizing:border-box;line-height:1}
img{max-width:100%;border:0;vertical-align:top;-ms-interpolation-mode:bicubic}
figure img{/*display:block*/}
mark{background:none}

/* link style */
a,a:hover{color:#626262;text-decoration:none}
a:focus,button:focus{outline:thin dotted}
a:active,a:hover,button:active,button:hover{outline:0 none}
a:link,a:visited{color:#626262}
a:hover,a:active{color:#626262}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
/* selector */
*,*:after,*:before{transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;box-sizing:border-box;text-rendering:optimizelegibility}
*::-webkit-input-placeholder,*::-moz-placeholder,::-ms-input-placeholder,input:-moz-placeholder{color:#000 !important}
::selection{background:#28b0f9;color:#fff}
::-moz-selection{background:#28b0f9;color:#fff}

/* table */
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
table button,table input{*overflow:auto}
caption{position:relative;visibility:hidden;height:0;line-height:0}

/* form, input set */
form label,form input,form select,form span,form img,form em,form a{}
input,textarea,select{font-size:1em;font-family:"Noto Sans KR","Nanum Square","Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;vertical-align:baseline;vertical-align:middle}
input[type="checkbox"],input[type="radio"]{margin:0;padding:0;width:14px;height:14px}
input[type="checkbox"]+label,input[type="radio"]+label{margin:0 10px 0 3px;vertical-align:middle;cursor:pointer}
input[type="text"],input[type="password"],input[type="file"],input[type="search"]{min-width:auto;width:auto;height:18px;padding:0 5px;margin:0;border:1px solid #cdd2d7}
input[type="file"]{height:26px;padding:0 5px;font-size:0.929em;border:1px solid #cdd2d7}
:root input[type="file"]{padding:0 5px 0 0;border:0 none\9}
input[readonly="readonly"],input[readonly],input[disabled="disabled"],input[disabled]{border:1px solid #cdd2d7;background:#f3f3f3;color:#928881}
input[type="button"],input[type="reset"],input[type="submit"]{min-width:20px;width:auto;height:28px;padding:4px 16px;margin:0;border:1px solid #344151;background:#344151;font-weight:bold;font-size:1em;line-height:1em;color:#fff}
textarea{overflow:auto;padding:0 5px;border:1px solid #cdd2d7;vertical-align:top}
select{height:20px;padding:0 3px;margin:0;border:1px solid #cdd2d7}
*+html body select{padding:0}
legend{position:absolute;visibility:hidden;left:0;top:0;width:1px;height:1px;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px}
legend{*margin-left:-7px;border:0;white-space:normal}

/* Skip Navigation */
#skipNav{position:relative;overflow:hidden;width:100%;margin:0 auto;z-index:100}
#skipNav a{display:block;height:0;margin-top:-2px;overflow:hidden;text-align:center;font-size:0;line-height:0;background:#383c47}
#skipNav a:hover,#skipNav a:active,#skipNav a:focus{height:auto;padding:7px 0;font-weight:bold;font-size:1em;line-height:1em;color:#fff;z-index:10000}
/* Element Hidden Type */
.hide{clear:both;position:absolute;visibility:hidden;overflow:hidden;left:0;top:0;width:0;height:0;margin:0;padding:0;background:none;font-size:0;line-height:0}
*:first-child+html body .hide{clear:both;position:absolute;visibility:hidden;overflow:hidden;left:0;top:0;width:0;height:0;margin:0;padding:0;background:none}


/* align style */
.clear{clear:both}
.clearfix{display:inline-block;width:100%}
.clearfix:after{content:"";display:block;visibility:hidden;clear:both}
.ft_left{display:block;float:left}
.ft_right{display:block;float:right}
.left {text-align:left}
.right{text-align:right}
.center {text-align:center}
.inline{display:inline}
.vtop{vertical-align:middle}
.vmiddle{vertical-align:middle}
.vtop,.vtop{vertical-align:top}
.vbottom,.vbottom{vertical-align:bottom}
/* no style */
.no_mar{margin:0 !important}
.no_padd{padding:0 !important}
.no_bul{padding-left:0 !important;background:none !important}
.no_bold{font-weight:normal !important}
.no_color{color:#666666 !important}
.no_bg{background:none !important}
.no_dis{position:absolute;visibility:hidden;height:0;font-size:0 !important}
.none{display:none !important}
.no_border{border:none !important}
/* border line */
.brw{border-right-width:1px}
.blw{border-left-width:1px}
.btw{border-top-width:1px}
.bbw{border-bottom-width:1px}
/* font style */
.bold{font-weight:bold}
.ltt_sp{letter-spacing:-1px}
.ud_line{text-decoration:underline}
.bk_word{word-wrap:break-word}
